@import "tailwindcss";

@theme {
  --font-sans: "Public Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 1px;
}

::selection {
  background: #ffffff;
  color: #000000;
}
